In [64]:
import pandas as pd
import locale
import datetime as dt

In [65]:
# Definindo a localização para o Brasil
locale.setlocale(locale.LC_NUMERIC, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [66]:
df = pd.read_csv("F:/Documentos/07.PYTHON/Projeto - Real Estate Sales 2001-2020/base/Real_Estate_Sales_2001-2020_GL_11_12_2023.csv", sep=',')

df.info()

C:\Users\Lucas Gomes\AppData\Local\Temp\ipykernel_7276\1792906047.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("F:/Documentos/07.PYTHON/Projeto - Real Estate Sales 2001-2020/base/Real_Estate_Sales_2001-2020_GL_11_12_2023.csv", sep=',')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

In [67]:
df_ok = df[['Date Recorded','Town','Address','Assessed Value','Sale Amount','Sales Ratio','Property Type','Residential Type']]

In [68]:
# Função para formatar número para o formato brasileiro
def format_brazilian(value):
    return f'{value:,.2f}'.replace('.', '*').replace(',', '.').replace('*', ',')

In [69]:
# Lista das colunas que você deseja formatar
colunas_para_formatar = ['Assessed Value', 'Sale Amount', 'Sales Ratio']

# Aplicar a formatação brasileira em cada uma das colunas especificadas
for coluna in colunas_para_formatar:
    df_ok[coluna] = df_ok[coluna].apply(format_brazilian)

C:\Users\Lucas Gomes\AppData\Local\Temp\ipykernel_7276\2518229786.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ok[coluna] = df_ok[coluna].apply(format_brazilian)

In [70]:
df_ok.head()

,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,04/14/2021,Ansonia,323 BEAVER ST,"133.000,00","248.400,00","0,54",Residential,Single Family
1,05/26/2021,Ansonia,152 JACKSON ST,"110.500,00","239.900,00","0,46",Residential,Three Family
2,09/13/2021,Ansonia,230 WAKELEE AVE,"150.500,00","325.000,00","0,46",Commercial,NaN
3,12/14/2020,Ansonia,57 PLATT ST,"127.400,00","202.500,00","0,63",Residential,Two Family
4,09/07/2021,Avon,245 NEW ROAD,"217.640,00","400.000,00","0,54",Residential,Single Family

In [71]:
local = 'F:/Documentos/07.PYTHON/Projeto - Real Estate Sales 2001-2020/base_final'
nome = '/Base_real_state_final_'
data = dt.datetime.today()
data_format = data.strftime('%d%m%Y')
extensao = '.csv'

caminho = (f'{local}{nome}{data_format}{extensao}')

caminho

'F:/Documentos/07.PYTHON/Projeto - Real Estate Sales 2001-2020/base_final/Base_real_state_final_20122023.csv'

In [72]:
df_ok.to_csv(f'{local}{nome}{data_format}{extensao}', sep=";", index=False)